<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Own Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/input.css')}}">
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Noto+Sans+HK&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Forgot your Password?</title>
</head>
<body>
    <div class="login">
    <div class="login-logo">
        Formsapp
    </div>

    <div class="login-card" style="height:400px">
        <div class="login-card-logo">Formsapp</div>
        <div class="login-card-header">Enter your Email Account</div>
        <div class="user-content">
            <form method="POST">
            <div class="input-fields">
            <label>Enter Your Email Account</label>
            <input type="email" name="mail" id="mail" required>
            </div>
            <div style="color:red;font-size:small;text-align:center;margin-top:3%">***Please visit your mail after you pressed "send"(If mail not found, Please check the spam folder***</div>
            <div class="input-fields" style="text-align: center;">
                <br>
                <input type="submit" value="Send">
            </div>
            <br><br><br><br>
        </div>
            </form>
    </div>
    </div>





<script src="{{url_for('static',filename='js/formsapp.js')}}"></script>
<!-- <script src="../static/js/formsapp.js"></script> -->
</body>
</html>