<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/header.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- <link rel="stylesheet" href="../static/css/input.css"> -->
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Noto+Sans+HK&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/9dfac6ea88.js" crossorigin="anonymous"></script>
    <title>Create your form</title>
</head>
<body>
    <div class="content">
    <div class="header">   
            <div class="mob-nav-logo"><a href="#">Formsapp</a></div>
            <ul class="mob-nav-links">
                <li><a href="#"><i class="fas fa-home"></i></a></li>
                <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
                <!-- <li><a href="#"><i class="fas fa-bell"></i></a></li>  -->
                <li><a href="#"><i class="fas fa-sign-out-alt"></i></a></li>   
                
            </ul>
        </div>
    </div>
</div>
</body>